{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skyward{% endblock %}</title>
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    <link rel="stylesheet" href={% static "css/partials/_footer.css" %}>
    <link rel="stylesheet" href={% static "css/partials/_header.css" %}>
    <link rel="stylesheet" href={% static "css/index.css" %}>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Шапка -->
    {% include "partials/_nav.html" %}

    <!-- Основной контент -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- Подвал -->
    {% include "partials/_footer.html" %}

    <!-- Стрелочка для прокрутки вверх -->
    <div id="scroll-to-top" class="scroll-to-top">
        <svg viewBox="0 0 24 24" width="24" height="24" fill="white">
            <path d="M12 2L2 12h6v10h8V12h6z"/>
        </svg>
    </div>

    <!-- Подключение JavaScript -->
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/responsive.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>