{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skyward{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Шапка -->
    <header class="header">
        <nav class="nav">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo_spacex.png' %}" alt="Logo">
            </a>
            <a href="{% url 'home' %}">Главная</a>
            <a href="#">Решения</a>
            <a href="#">О нас</a>
        </nav>
    </header>

    <!-- Основной контент -->
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Подвал -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <div>Skyward &copy; {% now "Y" %}</div>
                <a href="{% url 'privacy_pdf' %}" target="_blank">Политика конфиденциальности</a>
            </div>
            <div class="footer-right">
                <div class="contacts">
                    <div class="social-icons">
                        <a href={% url "telegram" %}>
                            <img src="{% static 'images/Telegram_Logo.png' %}" alt="Telegram">
                        </a>
                        <a href={% url "vk" %}>
                            <img src="{% static 'images/VK_Logo.png' %}" alt="VK">
                        </a>
                    </div>
                    <div class="email">usachevaVA@gmail.com</div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Стрелочка для прокрутки вверх -->
    <div id="scroll-to-top" class="scroll-to-top">
        <svg viewBox="0 0 24 24" width="24" height="24" fill="white">
            <path d="M12 2L2 12h6v10h8V12h6z"/>
        </svg>
    </div>

    <!-- Подключение JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/dinamic_width.js' %}"></script>
</body>
</html>