/* Основной контент */
.content {
    padding: 20px;
    flex: 1;
    padding-top: 80px;
}

/* Основной контейнер для текста и видео */
.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
}

/* Контейнер для текста */
.text-container {
    flex: 1;
    text-align: center;
    color: white;
    min-width: 300px;
    position: relative;
    padding: 20px;
    background: linear-gradient(135deg, rgb(156, 76, 241), rgb(28, 75, 157));
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(106, 17, 203, 0.3);
}

/* Контейнер для видео */
.video-container {
    flex: 1;
    max-width: 800px;
    min-width: 300px;
    opacity: 0;
    animation: scaleIn 1s ease-out forwards;
    animation-delay: 1s;
}

/* Стили для видео */
video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container h1, .text-container p {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.text-container p {
    animation-delay: 0.5s;
}

/* Стили для заголовка "Целевая аудитория" */
.target-audience-title {
    text-align: center;
    color: rgb(156, 76, 241);
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.5s;
}

/* Стили для контейнера с символами и текстом */
.symbols-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 2s;
}

/* Стили для левой и правой колонок */
.symbols-left, .symbols-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Стили для пары символ-текст */
.symbol-text-pair {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, rgb(156, 76, 241), rgb(28, 75, 157));
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
}

/* Стили для изображения символа */
.symbol-text-pair img {
    width: 50px;
    height: 50px;
}

/* Стили для текста рядом с символом */
.symbol-text-pair p {
    color: white;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

/* Адаптация для десктопных устройств */
@media (min-width: 769px){
    .text-container h1 {
        font-size: 36px;
    }
    .text-container p {
        font-size: 18px;
    }
    .video-container {
        max-width: 800px;
    }
    .symbol-text-pair {
        justify-content: left;
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px){
    .content-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .text-container {
        min-width: unset;
    }
    .video-container {
        max-width: 100%;
        min-width: unset;
    }
    .target-audience-title {
        margin-left: 40px;
    }
    .symbols-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .symbols-left, .symbols-right {
        gap: 10px;
    }
    .symbol-text-pair img {
        margin-bottom: 10px;
    }
    .symbol-text-pair p {
        text-align: left;
    }
}