/* Основной контейнер для текста и видео */
.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    max-width: 1300px;
}

/* Контейнер для текста */
.text-container {
    flex: 1;
    text-align: center;
    color: white;
    min-width: 300px;
    position: relative;
    padding: 20px;
    background: linear-gradient(135deg, rgb(156, 76, 241), rgb(28, 75, 157));
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(106, 17, 203, 0.3);
}

.text-container h1 {
    font-size: 36px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.text-container h2 {
    font-style: oblique;
    font-size: 46px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

/* Контейнер для видео */
.image-prototype-container {
    flex: 1;
    min-width: 300px;
    opacity: 0;
    animation: scaleIn 1s ease-out forwards;
    animation-delay: 1s;
}

/* Стили для изображения */
.image-prototype-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Стили для девиза */
.motto-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(156, 76, 241);
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.5s;
}

/* Стили для заголовка "Целевая аудитория" */
.services-title, .target-audience-title, .gallery-title {
    text-align: center;
    color: rgb(156, 76, 241);
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.5s;
}

/* Стили для контейнера с услугами */
.services-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 0 auto; /* Центрирование контейнера */
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 2s;
}

.services-part-container {
    display: flex;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    align-content: space-between;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 2s;
}

/* Стили для ячеек */
.service {    
    height: 200px; /* Фиксированная высота ячейки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по вертикали */
    padding: 15px;
    gap: 10px;
    background: linear-gradient(135deg, rgb(156, 76, 241), rgb(28, 75, 157));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
    box-sizing: border-box; /* Учитываем padding в общей ширине и высоте */
}

/* Стили для текста */
.service p {
    color: white;
    margin: 0;
    font-size: 22px;
    text-align: center;
    flex-grow: 1;
    display: flex;
}

/* Стили для изображений */
.service img {
    width: 120px;
    height: 120px;
}

.gallery-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.gallery-item img, .gallery-item video {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(100, 5, 190);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 20px;
    z-index: 100;
}

.left { left: 20px; }
.right { right: 20px; }


.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 999;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #8e51ffb0;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s;
}

.active-dot {
    background: #490092;
}

/* Стили для контейнера с символами и текстом */
.symbols-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 2s;
}

/* Стили для левой и правой колонок */
.symbols-left, .symbols-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Стили для пары символ-текст */
.symbol-text-pair {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, rgb(156, 76, 241), rgb(28, 75, 157));
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
    justify-content: flex-start; /* Выравнивание по левому краю */
    height: 100px; /* Фиксированная высота */
    box-sizing: border-box; /* Учитываем padding в общей высоте */
}

/* Стили для изображения символа */
.symbol-text-pair img {
    width: 50px;
    height: 50px;
    flex-shrink: 0; /* Изображение не сжимается */
}

/* Стили для текста рядом с символом */
.symbol-text-pair p {
    color: white;
    margin: 0;
    font-size: 18px;
    text-align: left;
    flex-grow: 1; /* Текст занимает доступное пространство */
    display: flex;
    align-items: center; /* Центрирование текста по вертикали */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px){
    .content-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .text-container {
        min-width: unset;
        padding: 20px 10px;
    }
    .image-prototype-containerner {
        max-width: 100%;
        min-width: unset;
    }
    .text-container h1 {
        font-size: 26px;
    }
    .text-container h2 {
        font-size: 36px;
    }
    .motto-container {
        font-size: 18px;
    }
    .services-container {
        flex-direction: column;
        padding: 20px 20px;
    }
    .symbols-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        padding: 20px 10px;
    }
    .symbols-left, .symbols-right {
        gap: 10px;
    }
    .symbol-text-pair img {
        margin-bottom: 10px;
    }
    .symbol-text-pair p {
        text-align: left;
    }
}